* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Times New Roman', serif;
  }
  
  .body {
    display: grid;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #f0f0f0; /* Light grey background */
    grid-template-columns: 1fr, 6fr;
  }
