/* Resume.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    font-family: 'Times New Roman', serif;
}

.container {
    width: 100%;
    max-width: 595px;
    height: 842px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    overflow: auto;
}

.container * {
    margin-bottom: 16px;
}

.personal-details-container {
    text-align: center;
    background-color: #2a3d55;
    color: white;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.personal-details-subsection {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.personal-details-container h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

.personal-details-container p {
    margin: 5px 0;
}

.section-header {
    font-size: 22px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #2a3d55;
    text-align: left;
}

.education-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.education-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

#education-details {
    display: flex;
    flex-direction: row;
    gap: 10px;  
}

#education-details p {
    margin: 2px 0;
}

.school {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2a3d55;
}
